/*  your css code here. If applicable */

/* Class selector for Paragraph 1 and 3 */
.selector {
  color: #00f; /* blue text */
  background-color: #eee; /* light gray background */
  font-family: Arial, sans-serif;
  font-size: 20px;
}
